<h4>Здравствуйте {{ firstName }},</h4>

<p>Вы получили это письмо потому что ваш адрес был указан при регистрации на Портале М.К.3</p>

<p>Для завершения регистрации на портале MK3, необходимо подтвердить регистрацию. </p>
<p><a href="{{ verifyUrl }}">Подтвердить регистрацию</a></p>

<p>Если вы не ожидали это письмо - можете спокойно его проигнорировать.</p>


<p>С уважением, М.К.3</p>

