<h4>Здравствуйте {{ firstName }},</h4>

<p>Ваш руководитель открыл вам доступ к Ревит Плагину М.К.3 </p>

<p>Теперь вы можете использовать его запуская Ревит через Лаунчер М.К.3,
    который можно скачать на портале.</p>


<p>С уважением, М.К.3</p>

