<h4>Здравствуйте {{ firstName }},</h4>

<p>Кто-то указал вашу почту на Портале М.К.3 для восстановления пароля.</p>

<p>Для восстановления пароля необходимо перейти по ссылке ниже. </p>
<p><a href="{{ resetUrl }}">Восстановить пароль</a></p>

<p>Если вы не ожидали это письмо - можете спокойно его проигнорировать.</p>


<p>С уважением, М.К.3</p>

