<h4>Здравствуйте {{ firstName }},</h4>

<p>Вы успешно зарегистрировались на Портале М.К.3</p>

<p>Когда ваш руководитель откроет вам доступ к плагину М.К.3 - Мы пришлем вам уведомление по электронной почте. </p>

<p>С уважением, М.К.3</p>
